  <div class="music_header">
      {%  if board.songs.get(0) %}
    <img  id="playbutton" onClick="playsong()"  src="{{asset('pictures/icons/play-button.png')}}" />

<!-- begin life track  -->
      <div id="lifetrack" style="display:none;" >

      <div id="jquery_jplayer_1" class="jp-jplayer"></div>
      <div id="jp_container_1" class="jp-audio" style="margin-right: -46px;">
        <div class="jp-type-single">
          <div class="jp-gui jp-interface">
            <ul class="jp-controls" >
              <li><a href="javascript:;" class="jp-play" tabindex="1" style='opacity:0.7'>play</a></li>
              <li><a href="javascript:;" class="jp-pause" tabindex="1" style="opacity: 0.7;margin-top: -17px;margin-left: 5px;" >pause</a></li>
              <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
              <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
            </ul>
            <div class="jp-progress" style="left: 63px;width: 309px;">
                   <div class="title" style="position: absolute;
                                            font-size: 16px;
                                            color:white;
                                            top: 15px;
                                            padding-left: 10px;">
                                                 {{board.songs.get(0).title}}-{{board.songs.get(0).artist}}
                   </div>
                   <!-- <div class="jp-duration"></div> -->
         
             <div class="jp-seek-bar" style="background-color:rgba(33, 83, 158, 0.309804);">
                <div class="jp-play-bar" style="background-color:rgb(76, 128, 206);"></div>
              </div>
            <div class="jp-time-holder" style="left:334px;top:3px;">
              <div class="jp-current-time" style="font-size: 17px;margin-top: 15px;"></div>
            </div>
          </div>
          </div>
          <div class="jp-no-solution">
            <span>Update Required</span>
            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
          </div>
        </div>
      </div>
    </div> <!-- end life track -->
  </div><!-- end music header -->
<!-- end life track -->

{% endif %}