<span id="side-nav-menu" >
  <div class="menu-item menu-item-selected" id="wall-item" >
    <a href="/app_dev.php/life/#/classic-according-to/##nickName##" class="submenu-icons-white info-icon"></a>
  </div>
  <div class="menu-item" id="scrapbook-item" >
    <a href="/app_dev.php/life/#/scrapbook/##nickName##" class="submenu-icons-white background-icon"></a>
  </div>
  <div class="menu-item" id="soundtrack-item" >
    <a href="/app_dev.php/life/#/soundtrack/##nickName##" class="submenu-icons-white song-icon"></a>
  </div>
  <div class="menu-item" id="before-i-die-list" >
    <a href="/app_dev.php/life/#/life-list/##nickName##" class="submenu-icons-white board-icon"></a>
  </div>
  <div class="menu-item md-trigger" onClick="fakeCreatTrigger()" id="new-item" >
    <a class="sosNeticonWhite plus-icon"></a>
  </div>
</span>


<div id="classic-main-container" onClick="hideAllNotifs()">
<div class="row" style="display:none;" >
  <span class="col-md-2 col-sm-2 col-xs-1 col-md-offset-9 col-sm-offset-9 col-xs-offset-3 sub-container new-post-preview" style="position:fixed;text-transform:capitalize;box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);padding-bottom: 15px;">
    <button class="btn btn-primay follow-button">Follow</button>
    <a href="/app_dev.php/life/#/classic-according-to/##user.nickName##" class="new-post-preview-title" >
      ##user.fullName##
    </a>
    <hr> 
    <img id="profilpicthumb" style="opacity:1;height: 147px;margin-top: 10px;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);background-color: white;" ng-src="##user.profilPic##"   />
    <span ng-show="user.aboutMe">
          <br>
          <hr>
          <div class="about-user" style="margin-top:10px;color:grey;">
              ##user.aboutMe##
          </div>
    </span>
    <span style="margin-left: -7px;border: white 2px solid;padding: 5px;width: 101%;padding-bottom: 7px;position: absolute;left: 6px;color: dimgrey;bottom: -43px;background-color: rgba(255, 255, 255, 0.75);">
     <img src="/pictures/icons/big-play.png" style="height: 25px;margin-right: -3px;" > One - Metallica 
    </span>
  </span>
</div>
<div class="row">
{% if app.user %}
  <span ng-show='user.nickName == "{{app.user.username}}"' >
    <div class="col-md-5 col-sm-5 col-xs-10 col-md-offset-3 col-sm-offset-3 col-xs-offset-1 sub-container new-post-preview"  style="text-align: center;box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);" >
        <form id="add-song-form" style="col-md-offset-2 col-sm-offset-1 col-xs-offset-0 col-md-4 col-sm-4 col-xs-4">
          <input  id="song-input" class="form-control input-lg" placeholder="Scribble"  style="display:block;background-color:rgba(255, 255, 255, 0.65);" >
          <textarea  id="song-input" class="form-control input-lg" placeholder="Extended thoughts" style="display:block;min-height:120px;width: 100%;margin-top:15px;margin-bottom:20px;background-color:rgba(255, 255, 255, 0.65);" ></textarea>
          <button id="add-song-button" class="progress-button form-control input-lg btn-primary" type="submit" style="bottom: 8px;position: absolute;right: 4px;">Submit</button>
        </form>
    </div>
    <span class="file-uploader-container" id="updaload-damn-pic" style="top: 111px;left: 51.5%;">
      <div class="file-uploader"></div>
    </span>
  </span>
{%  endif %}
</div>
<div id="add-song-loading" class="col-md-6 col-sm-10 col-xs-10 col-md-offset-3 col-sm-offset-1 col-xs-offset-1 sub-container new-post-preview" style="text-align: center;min-height: 60px;">
      <img src="{{asset('pictures/icons/loading.gif')}}" >
</div>
<div id="main-row" class="row">
  <div  id="caching-pictures" class="col-md-6 col-sm-10 col-xs-10 col-md-offset-3 col-sm-offset-1 col-xs-offset-1 sub-container" style="text-align: center;">
</div>
 
  <span ng-repeat="post in posts" >
      <div class="col-md-5 col-sm-10 col-xs-10 col-md-offset-3 col-sm-offset-1 col-xs-offset-1 sub-container new-post-preview" style="padding-bottom: 0px;background-color: rgba(255, 255, 255, 0.84);border-top-right-radius: 4px;border-top-left-radius: 4px;box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);" >
                  <img ng-src="##post.profilPic##" style="display:inline-block;opacity:1;height:50px;vertical-align: top;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);margin-right: 0%;background-color: white;" />
                  <span style="display:inline-block;">
                    <span style="font-weight:bold;font-family:sans-serif;color:#428bca;text-transform:capitalize;">##post.ownerFullName##</span>
                    <br>
                    <span id="post-content##post.id##" style="font-size:15px;display:inline-block;font-weight:bold;" >
                      <p class="post-content">
                        ##post.content##
                      </p>
                    </span>
                  </span>
                  <span class="board-date" >##post.commentDate## ago</span>
      
              <span id="votesButtons##post.commentId##"   class="votesButtonsPost" >
                <a id="upvoteButton"  class="btn-sm btn-primary add-achievement-btn" ng-class="{disabled:upvotes.indexOf(post.commentId) != -1,null:upvotes.indexOf(post.commentId) != -1}" ng-click="upvote(post)" style="padding-bottom: 6px;padding-top: 6px;">
                  <img src="/pictures/icons/upvote.png" style="margin-top:-10px">
                </a>
                <span ng-show='post.votes == 0'>
                  -
                </span>
                <span ng-show='post.votes != 0'>
                  ##post.votes##
                </span>
                <a id="downvoteButton" class="btn-sm btn-primary add-achievement-btn" ng-class="{disabled:downvotes.indexOf(post.commentId) != -1,null:downvotes.indexOf(post.commentId) != -1}" ng-click="downvote(post)" style="padding-bottom: 6px;padding-top: 6px;">
                  <img src="/pictures/icons/downvote.png">
                </a>
              </span>


      </div>

      <div ng-show="post.desc" class="col-md-5 col-sm-10 col-xs-10 col-md-offset-3 col-sm-offset-1 col-xs-offset-1 sub-container new-post-preview" style="margin-top: -30px;padding-bottom: 15px;min-height: 0px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);">
        <span style="color:grey;">
          <span id="songtrackTitle##track.songtrackId##">##post.desc##</span>
        </span>
      </div>
  </span>
 
           
  </div>
</div>  
<!-- Modal photos-->
    <div class="modal fade" id="uploadingmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog md-content">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close"  aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">The Story Behind The Song</h4>
          </div>
          <div class="modal-body">
                      
          </div>
          <div class="modal-footer" >
              <a data-dismiss="modal" class="btn btn-default md-close" >Cancel</a>
              <button class="btn btn-primary" type="submit"> Save Changes</button> 

     </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
 
<span id="youtubeframe"></span>

<script type="text/javascript">
</script>




<style type="text/css">

#classic-main-container{
  position: absolute;
/*  height: 100%;
*/  width:100%;
  top: 0px;
  padding-top: 100px;
  box-shadow: 0 23px 100px rgba(0,0,0,0.6) inset;
}

.awesome-loading{
  right: 29%;
  margin-left: -55px;
  border-bottom: 2px solid rgb(185, 185, 185);
}

.song-tag-icon
{
  position: absolute;
  left: 30px;
  height: 20px;
  opacity: 0.4;
  top: 10px;
}

#menu-icon
{
  cursor: pointer;
  height: 25px;
  margin-right: 10px;
  margin-top: -4px;
  opacity: 0.4;
}

#menu-icon:hover
{
  opacity: 1;
}


.search-input
{
  width: 190px;
  height: 30px;
  border-radius: 2px;
}

.popover.fade.bottom.in
{
  margin-top: 20px;
}

.notification:hover{
  background-color: #E9E9E9;
}
.notification b{
  text-transform: capitalize;
}
.notification{
  cursor: pointer;
  position: relative;
}

.not-date {
  position: absolute;
  right: 7px;
  font-size: 10px;
  bottom: 3px;
  color: #BBB7B7;
}

.pic-comment-container .thumbnail{
  display: inline-block;
  margin-left: 5px;
  padding: 0px;
  max-width: 150px;
  height: 159px;
  width: 150px;
  overflow-x: hidden;
  background: transparent;
  border: transparent;
  overflow-y: scroll;
}

.pic-comment-container .thumbnail img{
  max-width: 113px;
  max-height: 200px;
}

#caching-pictures .thumbnail{
  display: inline-block;
}


#caching-pictures .thumbnail img{
  max-height: 100px;
  max-width: 100px;
}

.file-uploader {
   background: url("{{asset('pictures/icons/small-pic-black.png')}}") no-repeat;
   cursor: pointer;
}

.file-uploader-container
{
  position: absolute;
  top: -13px;
  right: 0;
  width: 25px;
}

.file-uploader input {
   filter: alpha(opacity=0);
   opacity: 0;
}

.play-btn
{
  height: 55px;
}

.pic-comment-container a img
{
  max-width: 150px;
  height:150px;
  cursor:pointer;
  opacity:0.8;
}


.pic-comment-container img:hover
{
  opacity: 1;
            -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      
}

.pic-comment-container
{
  height: 80px;
  position: absolute;
  top: 4px;
  right: 2px;
}
.thumbnail .caption
{
  display: none;
}
.thumbnails{
  position: absolute;
  top: 0px;
  left: 20px;
 /* display: none;*/
}

.thumbnail>img, .thumbnail a>img {
  margin-left: auto;
  max-width: none;
  display: inline-block;
  margin-right: auto;
}

.modal
{
  overflow: hidden;
}

.main-comment-area
{
  opacity:0.5;
  padding:0px;
  margin-bottom:-3px;
}

textarea:focus{
  background-color: white;
}

.main-comment-area:hover
{
  opacity: 1;
}
.comment-username
{
  position: absolute;
  top: 5px;
  left: 60px;
  color: #2a6496;
  font-family: sans-serif;
  font-weight: bold;
}


.upload-pic-btn
{
  height: 20px;
  position: absolute;
  top: 10px;
  right: 7px;
  opacity: 0.5;
  cursor: pointer;
}

.autocomplete-suggestion{
  background-color: rgba(66, 139, 202, 0.84);
  color: white;
  padding: 5px;
  padding-left: 12px;
  font-size: 20px;
  border-top: 1px solid rgb(177, 168, 168);
  cursor: pointer;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.22), 0 0 200px 1px rgba(49, 49, 49, 0.01);
}

.autocomplete-suggestion:hover{
  background-color: rgba(219, 239, 255, 0.84);
  color: black;
}
.autocomplete-suggestion strong{
  color: rgb(175, 226, 46);
}


.input-lg{
        margin-bottom: 14px;
        display: none;
    }

.btn-select-lines
{
  position: absolute;
  right: 9px;
  opacity: 0.5;
  border-radius: 2px;
}
.btn-select-lines:hover
{
  opacity: 1;
}


.add-song-button:hover
{
  opacity: 1;
}

.board-background{
      width: 49%;
      margin-bottom: 1%;
    }

.board-info{
      /*position: absolute;*/
      top: 10%;
      padding-top: 5px;
      /*border: 1px rgb(209, 209, 209) solid;*/
      height: 89%;
      width: 96%;
      background-color: rgba(255, 255, 255, 0.89);
      font-family: sans-serif;
 }

    .form-control{                
        display: inline-block;
        width: 100%;
        height: 34px;
        margin-right: 12px;
        padding-left: 10px;
        box-shadow: 0 0 0.5px rgba(0,0,0,0.3);
        border: 1px solid #C9CED6;
    }

.commented-area
{
  padding-left: 60px;
  margin-top: -11px;
  min-height: 60px;
  width: 100%;
  border-radius: 0;
  background-color: rgba(231, 231, 231, 0.97);
  padding-top: 17px;
  height: auto;
  margin-bottom: 5px;
  opacity: 1;
  z-index: 120;
  box-shadow: none;
  font-family:sans-serif;
 /* font-weight:bold;*/
  /*min-height: 157px;*/
  margin-top: -13px;
}
    .comment{
        cursor: default;
        max-width: 500px;
    }
    .popover-content{
          text-align: center;
        }
    
    .popover{
      border-radius: 0px;
    }
    
    .menu_item{
      margin-right: 25px;
    }

    .popover.right .arrow:after{
      border-right-color: #f7f7f7;
    }

    .popover.left .arrow:after{
      border-left-color: #f7f7f7;
    }

    a{
      cursor: pointer;
    }

    .menu-primary-options{
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      height: 50px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 15px;
      font-weight: bold;
      color: white;
      cursor: pointer;
      background-color: #1f2228;
      border-top: 1px solid #262930;
      border-bottom: 1px solid #191b1f;
      text-transform: uppercase;
    }

    .menu-primary-options:hover{
        background-color: #f2f6f7;
        border-color: #f2f6f7;
        color: #5a6273;
     }

    .menu-primary-options li{
      display: none;
    }

    .submenu{
      background: #f2f6f7;
      bottom: 0;
      color: #494f5b;
      height: 100%;
      left: 60px;
      padding: 0;
      position: absolute;
      top: 0;
      width: 180px;
      z-index: 10;
    }

    a:hover{
      text-decoration:inherit;
    }



    .notification{
      color: black;
      box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2), 0 0 2px 1px rgba(255, 255, 255, 0.5);
      margin-bottom: 8px;
      padding: 6px;
      padding-bottom: 1px;
      padding-left: 10px;
      padding-right: 5px;
      line-height: 1.428571429;
      background-color: #fff;
      display: block;
    }

    #header .popover .popover-title{
      padding-right: 10px;
    }

    .message-content{
      /*margin-right: 5px;*/
      color: #A2A2A2;
    }

    .rotate-buttons{
      margin-top: 20px;
    }
    .comment-owner{
      margin-right: 5px;
      font-weight: bold;
    }

    @font-face{
        font-family:OpenSans-Light;
        src:url("{{asset('fonts/OpenSans-Light.ttf')}}");
    }

    .new-post-preview-title{
       color: #428bca;
       height: 25px;
       display: block;
       text-align: left;
       position: relative;
       font: 20px/1.5 Arial,Helvetica,sans-serif;
    }

    .new-post-preview img
    {
      margin-right: 2%;
      opacity: 0.6;
      cursor: pointer;
    }

   .new-post-preview img:hover
    {
      opacity: 1;
    }
        #song-input, #song-input-echo
        {
          margin-bottom: 1%;
          width: 50%;
          /*margin-left: 2%;*/
         /* margin-right: 1%;*/ 
          margin: -1px;
          background-color: #FDFCFC;
          border-radius: 2px;
          width: 70%;
        }

        #song-input{
          padding-left: 10px;
          /*margin-top: -41px;*/
        }

        #song-input-echo
        {
          position: absolute;
          /*display: none;*/
          left: 11%;
          width: 67%;
          visibility: hidden;
        }

        #song-input:focus
        {
          opacity: 1;
          background-color: white;
        }

        .new-post-preview{
          min-height: 80px;
          color: rgba(0, 0, 0, 0.78);
          margin-top: -2px;
          font-weight: bold;
          margin-bottom: 30px;
          font-family:OpenSans-Light;
          padding-top: 15px;
          /*background-color: rgba(255, 255, 255, 0.74);*/
          background-color: rgba(255, 255, 255, 0.95);
          box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2), 0 0 2px 1px rgba(255, 255, 255, 0.5);
          padding-bottom: 30px;
          border: 1px solid rgba(255, 255, 255, 0.84);
          background-color: rgba(255, 255, 255, 0.75);
        }

        .new-post-preview hr{
          margin-top: 10px;
          margin-bottom: 0px;
          border-top: 1px solid white;
        }
        .board-date
        {
          position: absolute;
          right: 3px;
          top: 5px;
          color: rgba(128, 128, 128, 0.64);
          font-size: 12px;
          font-family: OpenSans-Light;
        }

        .user-thumnail
        {
          text-transform: capitalize;
          background-color: white;
          position: absolute;
          top: -22%;
          right: 1%;
          border-left: 1px solid #eee;
        }

        .lyrics
        {
          white-space: pre-line;
          margin-left: 6%;
          cursor: pointer;
        }

        .lyrics.notSelected:hover
        {
          background-color: rgb(240, 240, 255);
        }

        .lyrics-limited
        {
          margin-top: -8%;
          white-space: pre-line;
          /*min-height: 122px;*/
          margin-left: 11%;
        }


        td
        {
          padding-left: 10px;
        }
        .user-thumnail img
        {
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          opacity: 1;
          cursor: pointer;
          position: absolute;
          top: 4px;
          right: 0px;
          height: 53px;
        }
        #add-song-button
        {
          border-radius: 3px;
          width: 90px;
          padding: 0px;
          padding-left: 8px;
          padding-right: 8px;
          margin-bottom: 0;
        }
        #add-song-button b
        {
          font-family: monospace;
          font-size: 24px;
         /* margin-right: 4px;*/
          line-height: 0;
        }


        #tag-group
        {
          opacity: 0.6;
          position: absolute;
          left: 0;
          bottom: 0;
        }

        #tag-group button
        {
          border-radius: 1px;
          font-size: 10px;
          padding: 3px;
          font-family: sans-serif;
          font-weight: bold;
        }
        #hidden-form
        {
          display: block;
          margin-top: -500%;
        }

        #hidden-form .new-post-preview-title
        {
          margin-left: 2%;
        }
        
        .proposition-line
        {
          margin-top: 10px;
           cursor: pointer;
        }

        .proposition-line:hover
        {
          background-color: rgb(240, 240, 255);
        }
        .instruction
        {
          cursor: pointer;
          z-index: 10;
          opacity: 1;
          width: 100%;
          display: none;
          position: absolute;
          left: 0;
          top: 0;
          text-align: center;
          padding-bottom: 5%;
          border: 0px;
          border-top: 1px solid #eee;
          border-radius: 0px;
        }

        .instruction b
        {
          margin-left: 3%;
          font-family: sans-serif;
        }

        .lyrics-line img
        {
          margin-right: 0px;
        }

        .lyrics.notSelected
        {
          min-height: 0;
          margin-left: 7%;
          width: 65%;
          background-color: white;
          color: black;
        }

        .lyrics.selected
        {
          min-height: 0;
          width: 65%;
          margin-left: 7%;
          background-color:#5cb85c;
          color: white;
        }

        .dropdown{
          position: absolute;
          right: 0px;
          margin-left: 21px;
          top: 0px;
        }


        .dropdown-menu{
          z-index: 20;
        }

        }
        .menu_item{
          margin-right: 25px;
        }


        .popover{
          min-width: 300px;
          border-radius: 0px;
        }

        .comment-thumbnail{
          background-color: white;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          position: absolute;
          top: 7px;
          right: 10px;
          max-height: 80px;
          max-width: 100px;
        }

        #songsPropositions
        {
          margin-top: 10px;
        }
        .menu-hr {
          display: flex;
          margin-bottom: 10px;
          margin-top: 10px;
        }

        .follow-button
        {
          position: absolute;
          color: white;
          top: 0;
          font-size: 10px;
          padding: 5px;
          right: 0;
          font-family: sans-serif;
          font-weight: bold;
          border-radius: 0px;
          border-bottom-left-radius: 4px;
          border: 0;
          background-color: #9DBCFF;
        }

        .progress{
          margin-bottom: 0px;
          border-radius: 0px;
        }

        .btn-success.disabled
        {
          opacity:0.2;
        }

        .autocomplete-suggestions{
          overflow: hidden;
          box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.22), 0 0 200px 1px rgba(49, 49, 49, 0.01);
        }

        .autocomplete-suggestion{
          text-overflow: ellipsis;
          white-space: nowrap; 
        }


        .delete-comment
        {
          display: none;
          position: absolute;
          top: 3px;
          right: 3px;
          opacity: 0.2;
          font-size: 16px;
          font-weight: 700;
          font-family: inherit;
        }


        .tag-input
        {
          margin-top: -11px;
          width: 100%;
          border-radius: 0;
          border: 1px solid #C9CED6;
          padding-top: 17px;
          height: 50px;
          margin-bottom:-1px;
          padding-right:20px;
          padding-left: 50px;
          margin-bottom:0px;
          border: 1px solid rgba(201, 206, 214, 0.6);
          background-color: #F7F9FC;
        }
        textarea.form-control{
          height: 50px;
        }
        .lb-number
        {
          display: none;
          visibility: hidden;
        }
        .lightboxOverlay
        {
          position: fixed;
          width: 100%;
          height: 100%;
          z-index: 12;
        }

        .lightbox
        {
          z-index: 13;
        }

        .spinner
        {
          margin-top: -23px;
          margin-left: -220px;
          display: block;
        }

      .editArea
      {
        min-height: 160px;
        margin-left: 35px;
        width: 90%;
      }

      #mood-slector{
        color:rgba(128, 128, 128, 0.79);
        border-color: transparent;
      }

      #mood-slector:hover{
        box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2), 0 0 2px 1px rgba(255, 255, 255, 0.5);
        border-color:rgba(128, 128, 128, 0.31);
      }

#add-song-loading
{
  display: none;
}

.introduction{
  text-align: center;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.84);
  color: rgba(3, 3, 3, 0.48);
  padding: 10px;
  border-radius: 9px;
  font-family: OpenSans-Light;
  opacity: 1;
}

.votesButtonsPost{
  position: absolute;
  bottom: 0px;
  right: 1px;
  background-color: #78AEDD;
  color: white;
  padding-bottom: 5px;
  padding-top: 4px;
}

</style>