/* COLORPICKER 1 EXAMPLE */
#colorPicker
{
    position: absolute;
    top: 12px;
    right: 53px;
    margin: 0px;
}

#colorPicker .track {
    background:     #EFEFEF url(../images/text-color.png) no-repeat 50% 50%;
    height:         150px;
    width:          150px;
    /*padding:        10px;*/
    position:       absolute;
    cursor:         crosshair;
    float:          left;
    left: -61px;
    top: -65px;
    display:        none;
    /*border:         1px solid #ccc;*/
    z-index:        10;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;

}

#colorPicker .color {
    padding:        0px;
    display:        block;
    position:       relative;
    z-index:        11;
    padding: 0px;
    padding-right: 35px;
    background-color: #EFEFEF;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    cursor: pointer;
}

#colorPicker .colorInner {
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    padding: 0px;
    color: black;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 5px;
}

#colorPicker .dropdown {
    list-style: none;
    display: none;
    width: 27px;
    position: absolute;
    top: 28px;
    border: 1px solid #ccc;
    left: 0;
    z-index: 1000;
}

#colorPicker .dropdown li{
    height: 25px;
    cursor: pointer;
}
