@font-face{
	font-family:comesinhandy;
	src: url('../fonts/comesinhandy.ttf');
}

@font-face{
  font-family:disco;
  src: url('../fonts/disco_7.ttf');

}

@font-face{
	font-family:OwnThatShhhh;
	src: url('../fonts/OwnThatShhhh.ttf');

}

@font-face{
	font-family:daniel-webfont;
	src: url('../fonts/daniel-webfont.ttf');

}

@font-face{
	font-family:THURSTON_erc_002;
	src: url('../fonts/THURSTON_erc_002.ttf');

}

@font-face{
	font-family:comesinhandy;
	src: url('../fonts/comesinhandy.ttf');

}

@font-face{
	font-family:DiamondsPearls;
	src: url('../fonts/DiamondsPearls.ttf');

}

@font-face{
	font-family:BrookeS;
	src: url('../fonts/BrookeS8.ttf');

}

@font-face{
	font-family:JennaSue;
	src: url('../fonts/JennaSue.ttf');

}

@font-face{
	font-family:Sketch_Block;
	src: url('../fonts/Sketch_Block.ttf');

}

@font-face{
	font-family:FAIL____;
	src: url('../fonts/FAIL____.ttf');

}

@font-face{
	font-family:the_quiet_scream;
	src: url('../fonts/the_quiet_scream.ttf');

}

@font-face{
	font-family:pops_08_BOLD;
	src: url('../fonts/awesome/pops_08_BOLD.ttf');

}

@font-face{
	font-family:pops_08_REGULAR;
	src: url('../fonts/awesome/pops_08_REGULAR.ttf');

}

@font-face{
	font-family:Scribulous_Scrawlin___by_Alphabeta85;
	src: url('../fonts/awesome/Scribulous_Scrawlin___by_Alphabeta85.ttf');

}

@font-face{
	font-family:Mawns_Handwriting;
	src: url('../fonts/awesome/Mawns_Handwriting.ttf');

}


@font-face{
	font-family:LSTKGarPenTin;
	src: url('../fonts/awesome/LSTKGarPenTin.otf');

}


@font-face{
	font-family:Linny;
	src: url('../fonts/awesome/Linny.ttf');

}


@font-face{
	font-family:HappyFox-Condensed;
	src: url('../fonts/awesome/HappyFox-Condensed.otf');

}

@font-face{
	font-family:GoodDog;
	src: url('../fonts/awesome/GoodDog.otf');

}

@font-face{
	font-family:FATSB___;
	src: url('../fonts/awesome/FATSB___.ttf');

}

@font-face{
	font-family:danielbk;
	src: url('../fonts/awesome/danielbk.ttf');

}

@font-face{
	font-family:ArchitectsDaughter;
	src: url('../fonts/awesome/ArchitectsDaughter.ttf');

}

@font-face{
	font-family:billy;
	src: url('../fonts/awesome/billy.ttf');

}

@font-face{
	font-family:Chomp;
	src: url('../fonts/awesome/Chomp.ttf');

}