body {
	font-size: inherit;
	background-color: #F3F3F3;
}


#header{	
	top: 0px;
	padding-left: 56px;
	font-size: 45px;
	color: rgb(142, 152, 255);
	position: fixed;
	width: 100%;
	background-color: rgb(1, 3, 20);
	box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
}

@font-face{
	font-family:disco_7;
	src: url('../fonts/disco_7.ttf');

}

@font-face{
	font-family:logofont;
	src: url('../fonts/GROBOLD.ttf');
}

#greeting {
	text-align: left;
	padding-left: 40px;
	padding-top: 18px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 24px;
}


#singup-container{
	padding-right: 27px;
	display: inline-block;
}
#overview{
	padding-left: 7%;
	width: 50%;
	display: inline-block;
}

#inputs-singup input{
	font-size: 21px;
	border-radius:0px;
}

.pingbutton{
	border-radius: 5px;
	margin-left: 244px;
	font-size: 26px;
	width: 173px;
	color: #428bca;
	background-color: #fff;
	border-color: #357ebd;
}

#pingbutton:hover{
	color: #fff;
	background-color:#428bca;
	border-color: #357ebd;
}

#footer{
	display: none;
	margin-top: 37px;
	padding-left: 56px;
	font-size: 12px;
	color: black;
	width: 100%;
	height: 30px;
}
#questions{
	margin-top: 15px;
	text-align: left;
	font-weight: bolder;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
}
#question-iteration{
	display: inline-block;
	margin-right: 1.5%;
	width: 87%;
}
#plusbutton{
	font-size: 22px;
	padding: 0px;
	font-weight: bold;
	width: 10%;
	color: #428bca;
	background-color: #fff;
	border-color: #357ebd;
}
#plusbutton:hover{
	color: #fff;
	background-color:#428bca;
	border-color:#357ebd;
}

#first-step{
	top: 17%;
	right: 2%;
	position: absolute;
	padding-bottom: 10px;
	border-radius: 4px;
	width: 484px;
	text-align: right;
	box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.33), 0 0 1px 1px rgba(255, 255, 255, 0.5);
	background-color: white;

}

#second-step{
	top: 17%;
	left: 22%;
	position: absolute;
	border-radius: 4px;
	width: 484px;
	text-align: right;
	box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.33), 0 0 1px 1px rgba(255, 255, 255, 0.5);
	background-color: white;
}

#second-step2{
	top: 17%;
	left: 59%;
	position: absolute;
	border-radius: 4px;
	width: 484px;
	text-align: right;
	box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.33), 0 0 1px 1px rgba(255, 255, 255, 0.5);
	background-color: white;
}

#about-container{
	display: none;
}

.roundbutton{
	margin-left: 20px;
	display: inline-block;
	width: 57px;
	border-width: 5px;
	border-radius: 40px;
}

#numbers{
	display:none;
	padding-left: 36%;
}

#numbers button{
	display: inline-block;

}

#wtferror{
	display: none;
	font-size: 21px;
	position: absolute;
	right: 6px;
	width: 195px;
	height: 43px;
	background-color: #B18584;
}


#emailerror{
	border-radius:6px;
	display: none;
	top: 354px;
	font-size: 21px;
	position: absolute;
	right: 69px;
	height: 46px;
	width: 177px;
	background-color: #B18584;
}

#passerror{
	display: none;
	top: 414px;
	font-size: 21px;
	position: absolute;
	right: 69px;
	height: 46px;
	width: 177px;
	background-color: #B18584;
}

b{
	display: inline;
}

#left-menue{
	text-align: left;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #C2BEBE;
	position: absolute;
	margin-left: 40px;
	font-size: 19px;
}

.focus{
	color: black;
}
.contry{
	width: 211px;   
	display: inline-block;
}

.city{
	margin-left: 15px;
	width: 190px;  
	display: inline-block;
}

.about{
	width: 430px;
	min-height: 219px;
	border-radius: 0px;
}


#side-menue{
	top: 17%;
	height: 483px;
	left: 2%;
	position: absolute;
	padding-bottom: 10px;
	border-radius: 4px;
	width: 255px;
	text-align: right;
	box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.33), 0 0 1px 1px rgba(255, 255, 255, 0.5);
	background-color: white;	
}
.vid{
	width: 420px;
}


#submit-btn-container{
	display: none;
	top: 73%;
	left: 59%;
	position: absolute;
	padding-top: 12px;
	padding-bottom: 13px;
	border-radius: 4px;
	padding-right: 35px;
	width: 494px;
	text-align: right;
}

#submit{
	border-width: 2px;
	border-radius: 5px;
	margin-left: 244px;
	font-size: 26px;
	width: 173px;
	color: #428bca;
	background-color: transparent;
	border-color: #357ebd;
}
#submit:hover{
	background-color: #428bca;
	color: white;
	border-color: #357ebd;
}
#video-container{
	display: none;

	top: 108%;
left: 0%;
position: absolute;
border-radius: 4px;
padding-top: 22px;
padding-bottom: 21px;
padding-right: 25px;
width: 484px;
text-align: right;
box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.33), 0 0 1px 1px rgba(255, 255, 255, 0.5);
background-color: white;
}