   body{
          font-family: sans-serif;
         }
        .dynamic-text{
            display: block;
        }
        #dynamic-space{
            font-weight: normal;
            position: absolute;
            text-align: left;
            margin-left: 10px;
            font-size: 50px;
            top: 0px;
        }
        #progress-controls{
          color: white;
          position: absolute;
          top: 21px;
          left: 135px;
          width: 310px;
          display: flex;
        }

        #controls-button{
          width: 100%;
          text-align: center;
          display: block;
        }

        #progress-line-container{
          border-top: 7px solid #DBDBDB;
          width: 100%;
          display: inline-block;
          margin-bottom: 1px;
          margin-top: 6px;
          margin-left: 5px;
          position: absolute;
        }
        #progress-line-playing{
          background-color: white;
          height: 8px;
          top: 0;
          position: absolute;
          left: 0;
          width: 0%;
        }
        #progress-bar{
          width: 185px;
          display: block;
          position: relative;
        }

        #player-track-title{
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            font-family: sans-serif;
            position: absolute;
            top: 0px;
            left: 135px;
            width: 255px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; 
            height: 15px;
        }

        #player-container{
          z-index:50;
        }

        #player-controll-buttons img{
          cursor: pointer;
          opacity: 0.8;
        }

        #player-controll-buttons img:hover{
          cursor: pointer;
          opacity: 1;
        }


        #profil-card{
          display: none;
        }

        #share_life_soundtrack_btn{
          color: #428bca;
          background-color: transparent;
          text-transform: none;
          margin-top: 10px;
        }
        
        #share_life_soundtrack_btn:hover{
          color: white;
          background-color: #428bca;
          border: transparent;
          box-shadow: 0 1px 3px rgba(0, 0, 0, .50);
        }
        .vola-explore-header{
          opacity: 0.5;
          position:absolute
        }
        
        .explore-board-background{
          width: 49%;
          margin-bottom: 1%;
        }

        .explore-board-info{
            top: 10%;
            padding-top: 15px;
            height: 89%;
            width: 96%;
            background-color: rgba(255, 255, 255, 0.89);
            font-family: sans-serif;
       }

       .explore-board-date{
        font-family: monospace;
        color: grey;
        font-size: 12px;
       }

      .explore-board{
          width: 100%;
          line-height: 1.42857143;
          background-color: #fff;
          border: 0px;
          padding-bottom: 10px;
          position: relative;
          margin-bottom: 10px;
          display: inline-block;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          border: 1px solid rgb(219, 219, 219);
        }

      .explore-board:hover{
        opacity: 1;
       }

    .likes-comments{
      font-family: serif;
      font-size: 10px;
      color: rgb(187, 187, 187);
      text-align: right;
    }


    .likes-comments img{
      height: 13px;
      margin-top: -2.5px;
      margin-right: -1px;
    }

    .small-community{
      margin-right: 0px;
      height: 13px;
    }

  
    .explore-board-description{
      color: #3D3A3A;
      text-align: left;
      font-size: 13px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 25px;
      font-family: sans-serif;
      line-height: 15px;
      max-height: 140px;
      text-overflow: ellipsis;
      white-space: normal;
      overflow: hidden;
    }

    #player-giraffe{
      position: fixed;
      top: 4px;
      left: 30%;
      z-index: 1070;
    }

    .explore-boards-container{
      padding: 15px 20px;
    }

    .explore-board-title{
      padding-left: 10px;
      padding-right: 10px;
      color: black;
      text-align: left;
      text-transform: capitalize;
      font-family: sans-serif;
      margin-bottom: -12px;
      font-weight: bold;
      font-size: 15px;
      margin-top: 10px;
    }

   paper-input {
      width: 98%;
    }

    a{
      text-decoration: initial;
    }
    a:focus
    {
      text-decoration: initial;
    }
    #container {
        width: 100%;
        max-width: 700px;
        margin: 2em auto;
    }

    .big-screen{
      display: none;
    }


    #static-text{
      font-size: 50px;
    }

   .hide_small,#player-track-title,#progress-controls{
      display: none;
    }

        @media only screen and (min-width:1000px)
        {

          .hide_small,#player-track-title{
            display: initial;
          }

          #progress-controls{
            display: flex;
          }

          #small-static-text{
            display: none;
          }

          .brand-heading{
            display: none;
          }
        }

        #scibble-button-big,#scibble-button-small {
          margin-top: 16px;
          border-radius: 3px;
          font-weight: normal;
          padding: 15px;
          padding-left: 40px;
          padding-right: 40px;
        }

       #scibble-button-big{
        display: none;
       }


    #soundtrack-main-container{
          margin-top: 390px;
    }

    #pac-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 300px;
      margin-top: 10px;
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 32px;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
    }

    #pac-input:focus {
      border-color: #4d90fe;
    }

    #progress-controls
    {
      font-family: monospace;
    }

    .song_map{
      height: 130px;
      display: none;
    }

    @media only screen and (min-width:500px)
    {
      #scibble-button-big{
        display: inline-block;
      }

          #soundtrack-main-container{
      left: 0;
      margin-top: 730px;
    }

     #scibble-button-small{
        display: none;
      }
      .small-screen{
        display: none;
      }
      .big-screen{
        display: initial;
      }
      .cols {
          -moz-column-count:3;
          -moz-column-gap: 3%;
          -moz-column-width: 30%;
          -webkit-column-count:3;
          -webkit-column-gap: 3%;
          -webkit-column-width: 30%;
          column-count: 3;
          column-gap: 3%;
          column-width: 30%;
      }

      .next-button{
        display: none;
      }


    .pin-button
    {
      position: absolute;
      bottom: 1px;
      left: 8px;
      opacity: 0.3;
      margin-bottom: 3px;
      background-color: transparent;
      color: black;
      border: 2px solid rgba(192, 191, 191, 0.83);
      border-radius: 2px;
      padding-left: 20px;
      padding-right: 20px;
      padding: 2px;
      font-weight: bold;
      text-transform: capitalize;
      font-family: sans-serif;
    }
    .pin-button:hover{
      opacity:1;
    }

    .lyrics-limited{
      text-align: left;
      font-size: 17px;
      margin-bottom: 0px
    }

    .lyrics{
      text-align: left;
    }

    .autocomplete-suggestion img{
      max-height: 35px;
    }


    .autocomplete-suggestion{
      font-family: 'Open Sans', sans-serif;
    }

    .pinned
    {
      opacity:1;
    }

    .pin-track{
      position: absolute;
      bottom: 0;
      left: 38px;
      opacity:0.5;
    }
    .pin-track:hover{
      opacity: 1;
    }

        #explore-container{
        width: 100%;
        max-width: 700px;
        margin: 2em auto;
    }

  }