    #Soundtagged
    {
      display: none;
    }

    #song-input{
      width: 100%;
    }

    #board-user-soundtags-link{
      cursor: pointer;
      opacity: 0.6;
    }

    #board-user-soundtags-link:hover{
      opacity: 1;
    }

    #board-user-scrapbook-link
    {
      color: black;
      border-top: 1px solid rgb(238, 238, 238);
      padding-top: 10px;
      margin-top: 5px;
      opacity: 0.6;
      display: block;
    }
    #board-user-scrapbook-link:hover
    {
      opacity: 1;
    }
    .fixed-explore-header{
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
      position: fixed;
    }

    .vola-explore-header{
      opacity: 0.5;
      position:absolute
    }
    .explore-board-background{
      width: 49%;
      margin-bottom: 1%;

    }

    .explore-board-info{
      /*position: absolute;*/
      top: 10%;
      padding-top: 15px;
      /*border: 1px rgb(209, 209, 209) solid;*/
      height: 89%;
      width: 96%;
      background-color: rgba(255, 255, 255, 0.89);
      font-family: sans-serif;
 }

   .explore-board-date{
    font-family: monospace;
    color: grey;
    font-size: 12px;
   }

  .explore-board{
      width: 100%;
      line-height: 1.42857143;
      background-color: #fff;
      border: 0px;
      position: relative;
      margin-bottom: 10px;
      display: inline-block;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      border: 1px solid rgb(219, 219, 219);
      /*-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    }

    .explore-board:hover{
      opacity: 1;
     }

  .likes-comments{
    font-family: serif;
    font-size: 10px;
    color: rgb(187, 187, 187);
    text-align: right;
  }


    .likes-comments img{
      height: 13px;
      margin-top: -2.5px;
      margin-right: -1px;
    }

  .small-community{
    margin-right: 0px;
    height: 13px;
  }

  
    .explore-board-description{
      color: #3D3A3A;
      margin-bottom: 25px;
      padding-left: 10px;
      padding-right: 10px;
      font-family: "Droid Serif",Georgia,serif;
      max-height: 140px;
      text-overflow: ellipsis;
      white-space: normal;
      overflow: hidden;
    }

    .explore-boards-container{
      padding: 15px 20px;
    }

    .explore-board-title{
      padding-left: 10px;
      padding-right: 10px;
      color: black;
      text-transform: capitalize;
      font-family: sans-serif;
      margin-bottom: -12px;
      font-weight: bold;
      font-size: 15px;
      margin-top: 10px;
    }
    a{
      text-decoration: initial;
    }
    a:focus
    {
      text-decoration: initial;
    }
    #container {
        width: 100%;
        max-width: 700px;
        margin: 2em auto;
    }

    #user-profil-card
    {
      display: none;
      position: absolute;
      top: 142px;
      width: 250px;
      right:40px;
      text-transform:capitalize;
      z-index:1;
      padding: 10px;
    }

    .big-screen{
      display: none;
    }

    #comment-modal-content{
        width: 100%;
        left: 0;
        bottom: -130px;
        position: fixed;
    }

    #submit-comment{
        position: absolute;
        top: 70px;
        right: 28px;
    }

    #CommentDetailMoadl{
      width: 100%;
    }

    #sign-in-trigger,#sign-up-trigger{
        width: 100%;
        text-align: center;
    }

    @media only screen and (min-width:1200px)
    {
      #user-profil-card
      {
        display: block;
      }
      #sign-in-trigger,#sign-up-trigger{
        width: 50%;
      }

      #CommentDetailMoadl{
        left: 45%;
      }
      
      #comment-modal-dialog{
        width: 800px;
      }

    }

    @media only screen and (min-width:500px)
    {
      #submit-comment{
        position: initial;
      }

      #comment-modal-content{
          width: initial;
          position: relative;
      }

      .small-screen{
        display: none;
      }
      .big-screen{
        display: initial;
      }
      .cols {
          -moz-column-count:3;
          -moz-column-gap: 3%;
          -moz-column-width: 30%;
          -webkit-column-count:3;
          -webkit-column-gap: 3%;
          -webkit-column-width: 30%;
          column-count: 3;
          column-gap: 3%;
          column-width: 30%;
      }

      .next-button{
        display: none;
      }

    .pin-button
    {
      position: absolute;
      bottom: 1px;
      left: 8px;
      opacity: 0.3;
      margin-bottom: 3px;
      background-color: transparent;
      color: black;
      border: 2px solid rgba(192, 191, 191, 0.83);
      border-radius: 2px;
      padding-left: 20px;
      padding-right: 20px;
      padding: 2px;
      font-weight: bold;
      text-transform: capitalize;
      font-family: sans-serif;
    }
    .pin-button:hover{
      opacity:1;
    }

    .pinned
    {
      opacity:1;
    }

    .pin-track{
      position: absolute;
      bottom: 0;
      left: 38px;
      opacity:0.5;
    }
    .pin-track:hover{
      opacity: 1;
    }

        #explore-container{
        width: 100%;
        max-width: 700px;
        margin: 2em auto;
    }


#cover-image{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-position:center;
  box-shadow:rgba(0, 0, 0, 0.407843) 0px 45px 100px inset;
  background-size:cover;
}

html{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.animateFade{
  margin-top: -20px;
}
#side-photo-uploader input[type=file] {
    width: 60px;
    height: 37px;
  }

#side-photo-uploader div{
   margin-top: 0px; 
   margin-bottom: 0px; 
}

#next-button{
  position: fixed;
  right: -60px;
  top: 250px;
  z-index: 9;
  background-color: white;
  border-radius: 50%;
  padding: 11px;
  padding-top: 18px;
  padding-right: 60px;
  opacity: 0.4;
  cursor: pointer;
}
#next-button:hover{
  opacity: 0.8;
}

#next-button img{
  height: 86px;
}
#popoverComment{
  display: none;
  z-index: 30;
}


#popoverFreshComment{
  display: block;
  z-index: 30;
}

.new-board-preview-title span{
  white-space: pre-wrap;
}
.nextCard{
  height:100px;
  margin-top: 40px;
  opacity: 0.5;
  cursor: pointer;
  position: fixed;
  right: -220px;
}

.prevCard{
  height:100px;
  margin-top: 40px;
  opacity: 0.5;
  position: fixed;
  z-index: 2000;
  left: 0px;
  display: none;
  cursor: pointer;
}



.nextCard:hover{
  opacity: 0.8;
}
.notif-date{
  color: grey;
  font-size: 10px;
  position: absolute;
  bottom: 30px;
  right: 10px;
}
.notif-nbr-ccomments{
  text-transform: lowercase;
}


#modalDetailCommentTitle
{
  cursor: initial;
  font-weight: bold;
}

#psstText:hover{
  opacity: 1;
}

#modalDetailCommentDate{
  cursor: initial;
}
.small-msg{
  position: absolute;
  bottom: 0px;
  opacity: 0.3;
  right: 2px;
}
.subboard{
    background-image: url("{{asset('pictures/icons/post_frame.png')}}");
    width: 250px;
    background-repeat: no-repeat;
    padding: 12px;
    position: relative;
    opacity: 0.8;
    margin-left: 5px;
    margin-bottom: 10px;
    display: inline-block;
    background-size: 100%;
    padding-bottom: 36px;
   }

#upload-pic-shortcut{
  display: inline-block;
  width: 5px;
  height: 10px;
  position: absolute;
  top: 0px;
  right: 230px;
}


 #background-file-uploader input[type=file],#profilPic-file-uploader input[type=file] {
  margin-left: 60px;
  width: 150px;
  margin-left: 60px;
  background-image: url("{{asset('pictures/icons/photo_placeholder.jpg')}}");
  height: 150px;
  font-size: 0px;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px rgba(128, 128, 128, 0.22) solid;
  cursor: pointer;
  opacity: 0.7;
}

 #upload-pic-shortcut input[type=file] {
  margin-left: 60px;
  width: 150px;
  margin-left: 60px;
  background-image: url("{{asset('pictures/icons/photo_placeholder.jpg')}}");
  height: 150px;
  font-size: 0px;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px rgba(128, 128, 128, 0.22) solid;
  cursor: pointer;
  opacity: 0.7;
}

#background-file-uploader input[type=file]{
  width: 60px;
  height: 60px;
}
.picture-with-label
{
  position: absolute;
  bottom: 50px;
  color: black;
  z-index: 2;
  font-size: 50px;
  margin-left:20px;
  font-family: JennaSue;
}

.spinner
{
  position: fixed;
  bottom: 10px;
  left: 230px;
  background-color: white;
  padding: 10px;
  opacity: 1;
  z-index: 12;
  border-radius: 6px;
}

.file-uploader-container .file-uploader {
   background: url("{{asset('pictures/icons/camera-pic-black.png')}}") no-repeat;
}

.file-uploader-container
{
    position: absolute;
    top: 20px;
    width: 25px;
    left: 57%;
    opacity: 0.5;
    cursor: pointer;
}
.file-uploader-container:hover
{
  opacity: 1;
}

.file-uploader-container .file-uploader input {
   opacity: 0;
}

.add-achievement-btn{
  border-radius: 0;
  background-color: #78AEDD;
}

.votesButtons{
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #78AEDD;
  color: white;
  padding-bottom: 4px;
  padding-top: 4px;
}

.add-achievement-btn img{
  margin-right: 1px;
}

.lb-number{
  display: none;
}


.likes-comments img
{
  height: 13px;
  margin-top: -2.5px;
}

.form-control.input-lg{
  min-height: 40px;
}
.input-group a{
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0px;
}

#sign-in-trigger,#sign-up-trigger{
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#singup_block div
{
  margin: 5px;
}

.small-community{
  margin-right: -8px;
  height: 13px;
  opacity: 0.5;
  position: initial;
}

#myboardsBody{
  margin-top: 30px;
  display: inline-flex;
  text-align: center;
  min-height: 200px;
  overflow-x: hidden;
  max-height: 159px;
}

.my-boards
{
  opacity: 0.8;
  overflow: hidden;
  background-color: white;
  width: 13%;
  min-width: 200px;
  border-radius: 0px;
  padding: 10px;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  color: rgb(56, 41, 108);
  font-weight: bold;
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;border-radius: 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.77) 0px -61px 37px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.77) 0px -61px 37px inset;
  box-shadow: rgba(0, 0, 0, 0.77) 0px -61px 37px inset;
}
.my-boards:hover{
  opacity: 1;
}

.lvl1{
  display: none;
}

.lvl2{
  display: none;
}

.awesome-loading{
  right: 29%;
  margin-left: -55px;
  border-bottom: 2px solid rgb(185, 185, 185);
}

.login-btn{
  margin-bottom:3px;
  background-color: transparent;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.83);
  border-radius: 2px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: sans-serif;
}

.login-btn:hover{
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.83);
}

.login-btn:focus{
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.83);
}

.register-btn{
  margin-bottom:3px;
  text-transform: capitalize;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 1px;
}

#freshDescription{
  max-height: 50px;
  overflow: hidden;
  display: block;
  text-transform: initial;
  white-space: pre-wrap;
}

#freshTitle{
  color: black;
  max-height: 20px;
  display: inline-block;
  overflow: hidden;
}




.avatar{
  border-radius: 50%;
  height: 50px;
  margin: 2px;
  opacity: 0.7;
  cursor: pointer;
}
.avatar:hover{
  opacity: 1;
}

.avatar-selected{
  border-color: #66afe9;
  outline: 0;
  opacity: 1;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
#bind-to-a-board{
  position: absolute;
  top: 0px;
  right: 3px;
  opacity:0.5;
}

#bind-to-a-board:hover{
  opacity: 1;
}

#like-icon-preview{
  margin-top: 10px;
  height: 26px;
  cursor: pointer;
  margin-left: 3px;
  margin-bottom: 5px;
}

#like-icon-preview:hover{
  opacity: 1;
}


.fb-btn:hover{
  background-color: #264B81;
}
.md-modal{
  -moz-backface-visibility:initial;
  -webkit-backface-visibility:initial;
  backface-visibility:initial;
}

.lyrics-limited{
  font-size: 13px;
  font-weight: normal;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#boardOwnersName
{
  text-transform: capitalize;
}

#boardModalDescription
{
  white-space: pre-wrap;
}


#grey-description
{
  color: rgb(189, 189, 189);
  background-color: rgba(94, 94, 94, 0.71);
  padding: 13px;
  padding-top: 1px;
  width: 600px;
  padding-bottom: 29px;
  max-height: 350px;
  position: relative;
  overflow: auto;
}
