<!DOCTYPE html>
<html>

<head>
	<title>SoundTags | The soundtrack of my life </title>
	 <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
   <link href="/css/index.css" rel="stylesheet">
</head>

<body ng-app="app" data-framework="typescript">
	<div ng-controller="searchController as search" class="search-box-container">
		<span><img class="logo-header" src="/pictures/icons/soulPsWhite.png"/></span>
		<search-box></search-box>
	</div>
	<div ng-controller="playlistController as vm">
		<giraffe-player track="vm.tracks[0]"></giraffe-player>
		<br />
		<br />
		<track ng-repeat="track in vm.tracks | reverse" track="track" ng-class="(($index + 1) % 2 === 0)?'float-right-container':'float-left-container'" ></track>
	</div>

	<script src="/bower/jquery/dist/jquery.js"></script>
	<script src="/bower/angular/angular.js"></script>
	<script src="/js/core.js"></script>
</body>

</html>
