/* ----------------------------------------------------------------

    Soundtag.me
    souller app
    @author:    Icewassom

 * ---------------------------------------------------------------- */
 * {
   box-sizing: border-box;
 }
 body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 body{
   background-color: whitesmoke;
 }
 .file-uploader input {
    opacity: 0;
 }

.logo-header{
  width: 50px;
  float: left;
  margin-top: -25px;
}
