<div id="search-ipnut-group" class="input-group-item" ng-click="triggerSelectInput()">
  <span class="label">Type Song or artist name</span>
  <input id="search-box" type="text" ng-model="searchTerm" ></input>
</div>

<div class="suggestions-container" ng-show="searchSuggestions.length > 0">
  <div ng-repeat="suggestion in searchSuggestions" >
    <a ng-class="(focusIndex !== $index + 1)?'search-box-suggestion':'search-box-suggestion focused-suggestion'" ng-click="selectSuggestion(suggestion)">{{suggestion.artist}} - {{suggestion.title}} <a/>
  </div>
</div>

<div class="vertical-beats"></div>
