    <h1 style="  color: white;margin-top: 90px;text-align: center;">This page isn't available, Try searching for something else</h1>
    <div id="fof" style="position:absolute;width:100%;text-align:center;">
        <img src="{{ asset('pictures/icons/Death_Noteby_SilentReaper2.jpg') }}"> 
    </div>